<div class="register-form">
  <form [formGroup]="plotForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Size:</label>
      <input type="number" formControlName="plotSize" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && plotFormValue['plotSize'].errors }">
    </div>
    <div *ngIf="submitted && plotFormValue['plotSize'].errors" class="invalid-feedback">
      <div *ngIf="plotFormValue['plotSize'].errors['required']">Plot size is required</div>
      <div *ngIf="plotFormValue['plotSize'].errors['min']">Minimum plot size value allowed is 0.1</div>
      <div *ngIf="plotFormValue['plotSize'].errors['max']">Maximum plot size value allowed is 99</div>
      <div *ngIf="plotFormValue['plotSize'].errors['pattern']">Username must not contain characters or numbers</div>
    </div>

    <div class="form-group">
      <label>Resolution:</label>
      <input type="text" formControlName="plotResolution" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && plotFormValue['plotResolution'].errors }">
    </div>
    <div *ngIf="submitted && plotFormValue['plotResolution'].errors" class="invalid-feedback">
      <div *ngIf="plotFormValue['plotResolution'].errors['required']">Plot resolution is required</div>
      <div *ngIf="plotFormValue['plotResolution'].errors['minlength']">Plot resolution must be at least 2 characters</div>
      <div *ngIf="plotFormValue['plotResolution'].errors['maxlength']">Plot resolution must not exceed 20 characters</div>
      <div *ngIf="plotFormValue['plotResolution'].errors['pattern']">Plot resolution must not contain symbols</div>
    </div>

    <div class="form-group">
      <label>Tenderness:</label>
      <input type="number" formControlName="plotTenderness" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && plotFormValue['plotTenderness'].errors }">
    </div>
    <div *ngIf="submitted && plotFormValue['plotTenderness'].errors" class="invalid-feedback">
      <div *ngIf="plotFormValue['plotTenderness'].errors['required']">Plot tenderness is required</div>
      <div *ngIf="plotFormValue['plotTenderness'].errors['min']">Minimum Plot tenderness value allowed is 0.1</div>
      <div *ngIf="plotFormValue['plotTenderness'].errors['max']">Maximum Plot tenderness value allowed is 99</div>
      <div *ngIf="plotFormValue['plotTenderness'].errors['pattern']">Plot tenderness must not contain characters or letters</div>
    </div>

    <div class="form-group">
      <label>Volume:</label>
      <input type="number" formControlName="volume" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && plotFormValue['volume'].errors }">
    </div>
    <div *ngIf="submitted && plotFormValue['volume'].errors" class="invalid-feedback">
      <div *ngIf="plotFormValue['volume'].errors['required']">Plot Volume is required</div>
      <div *ngIf="plotFormValue['volume'].errors['min']">Minimum Plot Volume value allowed is 1</div>
      <div *ngIf="plotFormValue['volume'].errors['max']">Maximum Plot Volume value allowed is 9999</div>
      <div *ngIf="plotFormValue['volume'].errors['pattern']">Plot Volume must not contain characters or letters</div>
    </div>

    <div class="form-group">
      <label>Average Tree Height:</label>
      <input type="number" formControlName="averageTreeHeight" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && plotFormValue['averageTreeHeight'].errors }">
    </div>
    <div *ngIf="submitted && plotFormValue['averageTreeHeight'].errors" class="invalid-feedback">
      <div *ngIf="plotFormValue['averageTreeHeight'].errors['required']">Plot Volume is required</div>
      <div *ngIf="plotFormValue['averageTreeHeight'].errors['min']">Minimum Plot Volume value allowed is 1</div>
      <div *ngIf="plotFormValue['averageTreeHeight'].errors['max']">Maximum Plot Volume value allowed is 9999</div>
      <div *ngIf="plotFormValue['averageTreeHeight'].errors['pattern']">Plot Volume must not contain characters or letters</div>
    </div>



    <!--treeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-->
    <!--    <form [formGroup]="treeForm">-->
    <!--      <div class="form-group">-->
    <!--        <input type="number" formControlName="id" class="form-control">-->
    <!--        <input type="text" formControlName="name" class="form-control">-->
    <!--      </div>-->
    <!--  </form>-->
    <!--    <form [formGroup]="percentageForm">-->
    <!--      <div class="form-group">-->
    <!--        <input type="number" formControlName="id" class="form-control">-->
    <!--        <input type="number" formControlName="value" class="form-control">-->
    <!--      </div>-->
    <!--    </form>-->

    <!--tttttttttttttttttttttttttttttttttttttttttttttttttttt-->
    <div class="form-group">
      <button type="submit" class="btn btn-secondary" > Add New Plot </button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-info float-right">
        Reset
      </button>
    </div>
  </form>
</div>


<div class="form-group">
</div>

<h1>Forest Form</h1>
<form [formGroup]="forestForm" >

  <div class="form-group">
    <label for="qqq">Forest Id</label>
    <input type="number" id="qqq" value="id" formControlName="id" class="form-control">
  </div>

  <div class="form-group">
    <label for="www">Forest Group</label>
    <input type="text" id="www" value="forestGroup" formControlName="forestGroup" class="form-control">
  </div>

  <form [formGroup]="forestryEnterpriseForm" >
  <div class="form-group">
    <label for="eee">ForEnterId</label>
    <input type="text" id="eee" value="id" formControlName="id" class="form-control">
  </div>
  <div class="form-group">
    <label for="rrr">For Ent name</label>
    <input type="text" id="rrr" value="name" formControlName="name" class="form-control">
  </div>
  </form>


  <form [formGroup]="forestLocationForm" >
  <div class="form-group">
    <label for="ttt">loc id</label>
    <input type="number" id="ttt" value="id" formControlName="id" class="form-control">
  </div>
  <div class="form-group">
    <label for="yyy">for X</label>
    <input type="number" id="yyy" value="geoLocationX" formControlName="geoLocationX" class="form-control">
  </div>
    <div class="form-group">
      <label for="asa">for Y</label>
      <input type="number" id="asa" value="geoLocationY" formControlName="geoLocationY" class="form-control">
    </div>
  </form>



  <form [formGroup]="forestUidForm" >
    <div class="form-group">
      <div class="form-group">
        <label for="hhh">FUId Id</label>
        <input type="number" id="hhh" value="id" formControlName="id" class="form-control">
      </div>
        <div class="form-group">
          <label for="uuu">Tree Id</label>
          <input type="number" id="uuu" value="firstUid" formControlName="firstUid" class="form-control">
        </div>
        <div class="form-group">
          <label for="iii">Tree Name</label>
          <input type="number" id="iii" value="secondUid" formControlName="secondUid" class="form-control">
        </div>
        <div class="form-group">
          <label for="sds">Tree Id</label>
          <input type="number" id="sds" value="thirdUid" formControlName="thirdUid" class="form-control">
        </div>
      </div>
  </form>


  <form [formGroup]="bidForm" >
        <div class="form-group">
          <label for="lll">forest bid Id</label>
          <input type="number" id="lll" value="id" formControlName="id" class="form-control">
        </div>
        <div class="form-group">
          <label for="mmm">forest bid amount Value</label>
          <input type="number" id="mmm" value="bidAmount" formControlName="bidAmount" class="form-control">
        </div>

        <div class="form-group">
          <label for="nnn">forest bid date Value</label>
          <input type="number" id="nnn" value="bidDateTime" formControlName="bidDateTime" class="form-control">
        </div>
  </form>

<h1>Plot Form</h1>
<form [formGroup]="plotForm" >
    <div class="form-group">
      <label for="plotId">Plot Id</label>
      <input type="number" id="plotId" value="id" formControlName="id" class="form-control">
    </div>
    <div class="form-group">
      <label for="plotSize">Plot Size</label>
      <input type="number" id="plotSize" value="plotSize" formControlName="plotSize" class="form-control">
    </div>
    <div class="form-group">
      <label for="plotResolution">Plot Resolution</label>
      <input type="text" id="plotResolution" value="plotResolution" formControlName="plotResolution" class="form-control">
    </div>
    <div class="form-group">
      <label for="plotTenderness">Plot Tenderness</label>
      <input type="number" id="plotTenderness" value="plotTenderness" formControlName="plotTenderness" class="form-control">
    </div>
  <div class="form-group">
    <label for="volume">Plot Volume</label>
    <input type="number" id="volume" value="volume" formControlName="volume" class="form-control">
  </div>
  <div class="form-group">
    <label for="averageTreeHeight">Plot Average Tree Height</label>
    <input type="number" id="averageTreeHeight" value="averageTreeHeight" formControlName="averageTreeHeight" class="form-control">
  </div>
<!--  <div formGroupName="treeType">-->
<!--  <div formGroupName="tree">-->
<!--  <div class="form-group">-->
<!--    <div formGroupName="tree">-->
<!--      <div class="form-group">-->
<!--        <label for="asd">Tree Id</label>-->
<!--        <input type="number" id="asd" value="id" formControlName="id" class="form-control">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="sdf">Tree Name</label>-->
<!--        <input type="text" id="sdf" value="name" formControlName="name" class="form-control">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div formGroupName="percentage">-->
<!--      <div class="form-group">-->
<!--        <label for="dfg">Percentage Id</label>-->
<!--        <input type="number" id="dfg" value="id" formControlName="id" class="form-control">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="hjk">Percentage Value</label>-->
<!--        <input type="number" id="hjk" value="value" formControlName="value" class="form-control">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->
<!--  </div>-->
</form>



<h1>Tree Type Form</h1>
<form [formGroup]="treeTypeForm" >
  <div formGroupName="tree">
    <div class="form-group">
      <label for="idOfTree">Tree Id</label>
      <input type="number" id="idOfTree" value="id" formControlName="id" class="form-control">
    </div>
    <div class="form-group">
      <label for="nameOfTree">Tree Name</label>
      <input type="text" id="nameOfTree" value="name" formControlName="name" class="form-control">
    </div>
  </div>
  <div formGroupName="percentage">
    <div class="form-group">
      <label for="ifOfPercentage">Percentage Id</label>
      <input type="number" id="ifOfPercentage" value="id" formControlName="id" class="form-control">
    </div>
    <div class="form-group">
      <label for="valueOfPercentage">Percentage Value</label>
      <input type="number" id="valueOfPercentage" value="value" formControlName="value" class="form-control">
    </div>
  </div>
</form>

<h1>Tree Form</h1>
<form [formGroup]="treeForm" >
  <div class="form-group">
    <label for="treeId">Tree Id</label>
    <input type="number" id="treeId" value="id" formControlName="id" class="form-control">
  </div>
  <div class="form-group">
    <label for="treeName">Tree Name</label>
    <input type="text" id="treeName" value="name" formControlName="name" class="form-control">
  </div>
</form>


<h1>Percentage Form</h1>
<form [formGroup]="percentageForm" >
    <div class="form-group">
      <label for="percentId">Percentage id</label>
      <input type="number" id="percentId" value="id" formControlName="id" class="form-control">
    </div>
    <div class="form-group">
      <label for="percentageValue">Percentage Value</label>
      <input type="number" id="percentageValue" value="value" formControlName="value" class="form-control">
    </div>
</form>


</form>
