<fieldset>
  <div>
    <tr class="table table-hover hideBorder">
      <td class="hideBorder">
        <div>
          <ul class="list-group" *ngIf="forestryEnterprises$ | async as forestryEnterprises">
            <span *ngIf="forestryEnterprises && forestryEnterprises.length > 0 else noEnterprises">
              <select [ngModel]="forestryEnterprise" (ngModelChange)="onChange($event)">
                <option disabled selected value="undefined">Select Forestry Enterprise</option>
                <option *ngFor="let forestryEnterprise of forestryEnterprises" [ngValue]="forestryEnterprise">
                  {{forestryEnterprise.name}}
                </option>
              </select>
            </span>
          </ul>
        </div>
      </td>
    </tr>
  </div>
</fieldset>

<ng-template #noEnterprises>
  <h5>No Forestry Enterprises found</h5>
</ng-template>
