.container {
  display: flex;
}

.comp1, .comp2 {
  border: 1px solid black;
}

.center {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

body {
  background-color: rgba(55, 84, 55, 0.11);
}

.mat-card {
  padding: 10px!important;
  background-color: rgba(187, 184, 184, 0.25);
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-content {
  padding: 2px !important;
  border-radius: 5px;
}

.plot-content{
  margin-bottom: 10px;
}

.example-card {
  max-width: 300px;
  margin-bottom: 50px;
  float: left;
  min-width: 700px;
}

.highlight{
  background: skyblue;
}

.not-highlight{
  background: #fbeafc;
}

.mat-card{
  display: flex;
  position: center;
}

.mat-card {
  background: rgba(162, 176, 131, 0.39);
  max-width: content-box;
}

.allCard{
  padding-top: 20px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.label{
  display:flex;
  align-items:center;
  justify-content:center;
}

.table{
  display:flex;
  align-items:center;
  justify-content:center;
}

.hideBorder {
  border:1px solid rgba(255, 255, 255, 0);
}

.hideBorderTRB{
  padding-top: 30px;
  border-top:1px solid rgba(255, 255, 255, 0);
  border-right:1px solid rgba(255, 255, 255, 0);
  border-bottom:1px solid rgba(255, 255, 255, 0);
}

.fieldset{
  display:flex;
  align-items:center;
  justify-content:center;
}

.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  /*background-image: url("../../../../../assets/logs.jpg");*/
}

