<div>
  <ul class="list-group" *ngIf="trees$ | async as trees">
  <span *ngIf="trees && trees.length > 0 else noTrees">
    <select [ngModel]="treeSelection" (ngModelChange)="onChange($event)">
      <option disabled selected value="undefined">Choose TreeType...</option>
      <option *ngFor="let tree of trees" [ngValue]="tree">
        {{tree.name}}
      </option>
    </select>
  </span>
  </ul>
</div>

<div>
  <ul class="list-group" *ngIf="percentages$ | async as percentages">
  <span *ngIf="percentages && percentages.length > 0 else noPercentages">
    <select [ngModel]="percentageSelection" (ngModelChange)="onChange($event)">
      <option disabled selected value="undefined">Choose Percentage...</option>
      <option *ngFor="let percentage of percentages" [ngValue]="percentage">
        {{percentage.value}}
      </option>
    </select>
  </span>
  </ul>
</div>

<ng-template #noPercentages>
  <h5>No Trees found</h5>
</ng-template>



<ng-template #noTrees>
  <h5>No Trees found</h5>
</ng-template>
