<fieldset>
  <div>
    <tr class="table table-hover table-bordered">
      <td>
        <div>
          <ul class="list-group" *ngIf="groupList | async as forestGroups">
            <span *ngIf="forestGroups && forestGroups.length > 0 else noForestGroups">
              <select [ngModel]="groupSelection" (ngModelChange)="onChange($event)">
                <option disabled selected value="undefined">Choose Forest Group...</option>
                <option *ngFor="let forestGroup of forestGroups" [ngValue]="forestGroup">
                  {{forestGroup.forestGroupName}}
                </option>
              </select>
            </span>
          </ul>
        </div>
      </td>
      <td>
        <div>
          <ul class="list-group" *ngIf="subGroupList$ | async as subGroups">
            <span *ngIf="subGroups && subGroups.length > 0 else noSubGroups">
              <select [ngModel]="subGroupSelection" (ngModelChange)="onChange($event)">
                <option disabled selected value="undefined">Choose TreeType...</option>
                <option *ngFor="let subGroup of subGroups" [ngValue]="subGroup">
                  {{subGroup.forestSubGroupName}}
                </option>
              </select>
            </span>
          </ul>
        </div>
      </td>
    </tr>
  </div>
</fieldset>

<ng-template #noSubGroups>
  <h5>No Sub Groups found</h5>
</ng-template>

<ng-template #noForestGroups>
  <h5>No Forest Group found</h5>
</ng-template>
