<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['register-forest']"> Register Forest</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['forest-list']"> Forest List</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['forest-select']"> Forest Select</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['register-plot']"> Register Plot</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/plot-editor']"> Plot Editor in settings</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/plot-selector']"> Plot Selector in settings</button>

<!--Veikia-->

<!--<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/forestryEnterprise-selector']"> FE Selection in settings</button>-->
<!--<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/g-selection']"> Sub Group Selection in settings</button>-->
<!--<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/fg-selection']"> Forest Group Selection in settings</button>-->
<!--<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/percentage-selection']"> Percentage Selection in settings</button>-->
<!--<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/tree-editor']"> Tree Editor in settings</button>-->
<!--<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/tree-selection']"> Tree Selection in settings</button>-->
