<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['forests/trees']"> Trees</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['forests/percentages']"> Percentages</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['forests/plots']"> Plots</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['forests/plot-editor']"> Plot Editor</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['forests/forest-editor']"> Forest Editor</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['forests/forest-list']"> Forest Editor</button>


<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/settings']"> Settings</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/plot-editor']"> Plot Editor in settings</button>
