<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['register-forest']"> Register Forest</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['register-plot']"> Register Plot</button>

<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/settings']"> Settings</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/plot-editor']"> Plot Editor in settings</button>
<button mat-button type="button" class="btn btn-outline-secondary" [routerLink]="['settings/plot-selection']"> Plot Selection in settings</button>
